.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  background-color: lightgreen;
  border: 1px solid green;
  border-radius: 100px;
  padding: 13px 30px;
  width: 30%;

  text-transform: uppercase;
  font-size: 14px;
}

.animal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
